<div class="home">
    <app-header></app-header>
    <section class="main">
        <section class="acerca-de">
            <div class="contenedor">
                <div class="foto">
                    <img src="../../../assets/img/1648398040863.jpg" width="115"
                        height="115" alt="Pamela Chirino">
                </div>
                <div class="texto">
                    <h3 class="titulo">Acerca de</h3>
                    <p> Soy desarrolladora de software <span class="bold">
                            frontend desde hace casi 3 años</span>, en los
                        cuales he desarrollado mayormente
                        con Angular.
                        Actalmente me encuentro cursando el tercer año de
                        Ingeniería en sistemas y especializandome en desarrollo
                        web.
                        Me considero una persona que está en constante búsqueda
                        de aprender y mejorar profesionalmente.
                    </p>
                </div>
            </div>

        </section>
        <section class="trabajos">
            <app-works></app-works>
        </section>
    </section>
    <footer>

        <!-- <section class="contacto">
            <div class="contenedor">
                <app-contact></app-contact>
            </div>
        </section> -->

        <section class="redes-sociales">
            <app-footer class="contenedor"></app-footer>
        </section>

    </footer>
</div>
